body {
  background-color: #ADD; }

#auth .btn {
  background-color: #ADD;
  border-color: #ADD; }

.googleButton {
  background: url(../images/google-sign-in.png);
  width: 33%;
  height: 10%;
  border-radius: 5px; }
  .googleButton:hover {
    box-shadow: 0 0 20px #FBBC05; }
