.movie .poster_path {
  height: 300px; }

.movie h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.overview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; }

.thumbnail {
  position: relative; }
  .thumbnail .delete {
    position: absolute;
    right: 15px;
    top: 15px; }
  .thumbnail .detail {
    position: absolute;
    left: 15px;
    top: 15px; }

body {
  background-color: #ADD; }

#auth .btn {
  background-color: #ADD;
  border-color: #ADD; }

.googleButton {
  background: url(../assets/images/google-sign-in.png);
  width: 33%;
  height: 10%;
  border-radius: 5px; }
  .googleButton:hover {
    box-shadow: 0 0 20px #FBBC05; }
